spring:
  application:
    name: order-service

  profiles:
    active: dev

  config:
    import: configserver:http://localhost:8888

management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info
